.Profile-body{
    width: 100%;
    display: grid;
    grid-template-columns:65% 30%;
    column-gap: 50px;
  }

  .informations{
    display: grid;
    background-color: rgb(255, 255, 255);
    color: rgb(21, 20, 43);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 5px -2px, rgba(0, 0, 0, 0.14) 0px 7px 10px 1px, rgba(0, 0, 0, 0.12) 0px 2px 16px 1px;
    font-size: 20px;
    height: 500px;
    margin-right: 20px;
    grid-template-rows: 50px 50px 50px 50px;
    padding: 50px;
  }
  .Data{
    font-size: 20px;
  }
  .Buttons{
    display: grid;
    grid-template-columns: auto auto;
  }
  .Delete-button{
    border: none;
    background-color: #da0000;
    color: white;
    border-radius:10px;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
  }
  .Update-button{
    border: none;
    background-color: #1C5F8C;
    color: white;
    border-radius:10px;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;

  }
  .images{
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin: auto;
  width: 863px;
  }

   .Profileimg{
    width: 863px;
  }
  .insideImagesDiv{
    display: grid;
    grid-template-columns: auto;
    width: 100%;
  }








