.Cars{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px,40px));
  row-gap:20px;
  margin-left:70px;
  margin-right:30px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.Shoecard {
    transition: 0.3s;
    width: 280px;
    height: 420px;
    background-color: rgb(252, 252, 252);
    border: 1px solid #d3d3d3;
    cursor: pointer;
  }
  .Shoecard:hover {
    border: 1px solid #747474;
  }
  .container {
    display: grid;
    grid-template-columns: auto ;
    padding: 2px 16px;
    height: 100px;
    padding-top: 10px;
    background-color: #f9fdff;
  }
  .ShoeName{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
  }

  .Cardimg {
    width: 100%;
    height: 200px; 
  }

  .ShoeName {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
  }
  

  @media screen and (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }

  @media screen and (max-width: 480px) {
    .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
  }